@model SampleSite.Models.PageModels.ProductListPageModel

<div class="text-center">
    <h1 class="display-4">Products</h1>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            <th>
                Stock
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            @Html.DisplayFor(x => item)
        }
    </tbody>
</table>
