@model SampleSite.Models.PageModels.UpdateProductPageModel

<div class="text-center">
    <h1 class="display-4">Update Product</h1>
</div>

<form asp-action="Update"
      asp-controller="Product"
      method="post"
      id="updateProduct">
    @Html.DisplayFor(m => m.ProductForm)
</form>
